USE [master]
GO
/****** Object:  Database [Blogs]    Script Date: 2020/5/27 10:27:39 ******/
CREATE DATABASE [Blogs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blogs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Blogs.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Blogs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Blogs_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blogs]
GO
/****** Object:  Table [dbo].[AlbumTable]    Script Date: 2020/5/27 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumTable](
	[AlbumID] [int] NOT NULL,
	[UserID] [int] NULL,
	[CommentID] [int] NULL,
	[LikeNum] [int] NOT NULL,
	[ReadNum] [int] NOT NULL,
 CONSTRAINT [PK_AlbumTable] PRIMARY KEY CLUSTERED 
(
	[AlbumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogTable]    Script Date: 2020/5/27 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogTable](
	[BlogID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ReleaseTime] [datetime] NOT NULL,
	[TypeID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Content] [text] NOT NULL,
	[Comment] [int] NOT NULL,
	[LikeNum] [int] NULL,
	[ReadNum] [int] NOT NULL,
 CONSTRAINT [PK_BlogTable] PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BTypeTable]    Script Date: 2020/5/27 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BTypeTable](
	[TypeID] [int] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[PTypeID] [int] NULL,
 CONSTRAINT [PK_BTypeTable] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommentTable]    Script Date: 2020/5/27 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentTable](
	[BlogID] [int] NOT NULL,
	[CommentID] [int] NOT NULL,
	[ComContent] [nvarchar](50) NOT NULL,
	[ComTime] [datetime] NOT NULL,
	[PCommentID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_CommentTable] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LabelTable]    Script Date: 2020/5/27 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabelTable](
	[LabelID] [int] NOT NULL,
	[BlogID] [int] NOT NULL,
	[LName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LabelTable] PRIMARY KEY CLUSTERED 
(
	[LabelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhotoTable]    Script Date: 2020/5/27 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotoTable](
	[AlbumID] [int] NOT NULL,
	[Photo] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 2020/5/27 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTable](
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Sex] [char](1) NULL,
	[HeadPhoto] [nvarchar](50) NULL,
	[Introduce] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
