
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<article id="post-2876" class="post-2876 post type-post status-publish format-image has-post-thumbnail hentry category-general category-mixed post_format-post-format-image">

    <div class="post-wrapper group">

        <div class="entry-media">
            <a href="index-14.htm">
                <div class="image-container">
                    <img width="720" height="405" src="~/image/StockSnap_FLU1A9EK7E-720x405.jpg" class="attachment-indite-large size-indite-large wp-post-image" alt="" sizes="(max-width: 720px) 100vw, 720px" />
                </div>
            </a>
        </div>

        <header class="entry-header group">
            <h2 class="entry-title"><a href="index-14.htm" rel="bookmark">这是博客标题</a></h2>
            <div class="entry-meta">
                <span class="entry-date"><i class="glyphicon glyphicon-time"></i>July 7, 2019</span>
                <span class="entry-comments"><i class="glyphicon glyphicon-eye-open"></i><a href="index-14.htm#comments">4</a></span>
                <span class="entry-author"><i class="glyphicon glyphicon-user"></i><a href="index-18.htm" title="Posts by Alexander" rel="author">艾伦</a></span>
                <span class="entry-date"><i class="glyphicon glyphicon-thumbs-up"></i>12</span>
                <span class="entry-category"><a href="index-1.htm" rel="category tag">科技</a> <a href="index-3.htm" rel="category tag">健康</a></span>
            </div>
        </header>

        <div class="entry-content">
            <div class="entry themeform">

                <p>这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要</p>
                <p>
                    <a href="index-14.htm#more-2876" tppabs="http://demo.alx.media/indite/2019/07/07/combining-design-and-psychology-to-change-behavior/#more-2876" class="more-link">阅读更多&#8230;</a>
                </p>

            </div>
        </div>
    </div>

</article>
<!--/.post-->
<article id="post-68" class="post-68 post type-post status-publish format-image has-post-thumbnail hentry category-general category-travel post_format-post-format-image">

    <div class="post-wrapper group">

        <div class="entry-media">
            <a href="index-9.htm" tppabs="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/">
                <div class="image-container">
                    <img width="720" height="405" src="StockSnap_3VLGQNBZP2-720x405.jpg" tppabs="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_3VLGQNBZP2-720x405.jpg" class="attachment-indite-large size-indite-large wp-post-image" alt="" srcset="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_3VLGQNBZP2-720x405.jpg 720w, http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_3VLGQNBZP2-520x293.jpg 520w" sizes="(max-width: 720px) 100vw, 720px" />
                </div>
            </a>
        </div>

        <header class="entry-header group">
            <h2 class="entry-title"><a href="index-9.htm" tppabs="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/" rel="bookmark">这是博客标题</a></h2>
            <div class="entry-meta">
                <span class="entry-date"><i class="far fa-calendar"></i>July 6, 2019</span>
                <span class="entry-comments"><i class="far fa-comment"></i><a href="index-9.htm#comments" tppabs="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/#comments">10</a></span>
                <span class="entry-author"><i class="far fa-user"></i><a href="index-18.htm" tppabs="http://demo.alx.media/indite/author/alx/" title="Posts by Alexander" rel="author">艾伦</a></span>
                <span class="entry-category"><a href="index-1.htm" tppabs="http://demo.alx.media/indite/category/general/" rel="category tag">General</a> <a href="javascript:if(confirm(%27http://demo.alx.media/indite/category/travel/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.alx.media/indite/category/travel/%27" tppabs="http://demo.alx.media/indite/category/travel/" rel="category tag">Travel</a></span>
            </div>
        </header>

        <div class="entry-content">
            <div class="entry themeform">

                <p>这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要。</p>
                <p>这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是摘要这是。</p>
                <p>
                    <a href="index-9.htm#more-68" tppabs="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/#more-68" class="more-link">Continue reading&#8230;</a>
                </p>

            </div>
        </div>
    </div>

</article>


<nav class="pagination group">
    <div class='wp-pagenavi' role='navigation'>
        <span class='pages'>Page 1 of 4</span>
        <a class="previouspostslink" rel="prev" href="index.htm">&laquo;</a>
        <span aria-current='page' class='current'>1</span>
        <a class="page larger" title="Page 2" href="#">2</a>
        <a class="page larger" title="Page 3" href="#">3</a>
        <a class="page larger" title="Page 4" href="#">4</a>
        <a class="nextpostslink" rel="next" href="#">&raquo;</a>
    </div>
</nav>
<!--/.pagination-->
