
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<article id="post-2876" class="post-2876 post type-post status-publish format-image has-post-thumbnail hentry category-general category-mixed post_format-post-format-image">

    <div class="post-wrapper group">

        <div class="entry-media">
            <a href="index-14.htm">
                <div class="image-container">
                    <img width="720" height="405" src="StockSnap_FLU1A9EK7E-720x405.jpg" class="attachment-indite-large size-indite-large wp-post-image" alt="" srcset="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_FLU1A9EK7E-720x405.jpg 720w, http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_FLU1A9EK7E-520x293.jpg 520w" sizes="(max-width: 720px) 100vw, 720px" />
                </div>
            </a>
        </div>

        <header class="entry-header group">
            <h2 class="entry-title"><a href="index-14.htm" rel="bookmark">Combining Design And Psychology To Change Behavior</a></h2>
            <div class="entry-meta">
                <span class="entry-date"><i class="far fa-calendar"></i>July 7, 2019</span>
                <span class="entry-comments"><i class="far fa-comment"></i><a href="index-14.htm#comments" tppabs="http://demo.alx.media/indite/2019/07/07/combining-design-and-psychology-to-change-behavior/#comments">4</a></span>
                <span class="entry-author"><i class="far fa-user"></i><a href="index-18.htm" tppabs="http://demo.alx.media/indite/author/alx/" title="Posts by Alexander" rel="author">Alexander</a></span>
                <span class="entry-category"><a href="index-1.htm" tppabs="http://demo.alx.media/indite/category/general/" rel="category tag">General</a> <a href="index-3.htm" tppabs="http://demo.alx.media/indite/category/mixed/" rel="category tag">Mixed</a></span>
            </div>
        </header>

        <div class="entry-content">
            <div class="entry themeform">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>
                    <a href="index-14.htm#more-2876" tppabs="http://demo.alx.media/indite/2019/07/07/combining-design-and-psychology-to-change-behavior/#more-2876" class="more-link">Continue reading&#8230;</a>
                </p>

            </div>
        </div>
    </div>

</article>
<!--/.post-->
<article id="post-68" class="post-68 post type-post status-publish format-image has-post-thumbnail hentry category-general category-travel post_format-post-format-image">

    <div class="post-wrapper group">

        <div class="entry-media">
            <a href="index-9.htm" tppabs="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/">
                <div class="image-container">
                    <img width="720" height="405" src="StockSnap_3VLGQNBZP2-720x405.jpg" tppabs="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_3VLGQNBZP2-720x405.jpg" class="attachment-indite-large size-indite-large wp-post-image" alt="" srcset="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_3VLGQNBZP2-720x405.jpg 720w, http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_3VLGQNBZP2-520x293.jpg 520w" sizes="(max-width: 720px) 100vw, 720px" />
                </div>
            </a>
        </div>

        <header class="entry-header group">
            <h2 class="entry-title"><a href="index-9.htm" tppabs="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/" rel="bookmark">Why I Moved From A Square To A Circle</a></h2>
            <div class="entry-meta">
                <span class="entry-date"><i class="far fa-calendar"></i>July 6, 2019</span>
                <span class="entry-comments"><i class="far fa-comment"></i><a href="index-9.htm#comments" tppabs="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/#comments">10</a></span>
                <span class="entry-author"><i class="far fa-user"></i><a href="index-18.htm" tppabs="http://demo.alx.media/indite/author/alx/" title="Posts by Alexander" rel="author">Alexander</a></span>
                <span class="entry-category"><a href="index-1.htm" tppabs="http://demo.alx.media/indite/category/general/" rel="category tag">General</a> <a href="javascript:if(confirm(%27http://demo.alx.media/indite/category/travel/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.alx.media/indite/category/travel/%27" tppabs="http://demo.alx.media/indite/category/travel/" rel="category tag">Travel</a></span>
            </div>
        </header>

        <div class="entry-content">
            <div class="entry themeform">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>
                    <a href="index-9.htm#more-68" tppabs="http://demo.alx.media/indite/2019/07/06/why-i-moved-from-a-square-to-a-circle/#more-68" class="more-link">Continue reading&#8230;</a>
                </p>

            </div>
        </div>
    </div>

</article>
<!--/.post-->
<article id="post-60" class="post-60 post type-post status-publish format-image has-post-thumbnail hentry category-general category-mixed tag-demo tag-design tag-example post_format-post-format-image">

    <div class="post-wrapper group">

        <div class="entry-media">
            <a href="index-15.htm" tppabs="http://demo.alx.media/indite/2014/07/16/leaner-responsive-images-with-client-hints/">
                <div class="image-container">
                    <img width="720" height="405" src="StockSnap_693PZB7YZT-720x405.jpg" tppabs="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_693PZB7YZT-720x405.jpg" class="attachment-indite-large size-indite-large wp-post-image" alt="" srcset="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_693PZB7YZT-720x405.jpg 720w, http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_693PZB7YZT-520x293.jpg 520w" sizes="(max-width: 720px) 100vw, 720px" />
                </div>
            </a>
        </div>

        <header class="entry-header group">
            <h2 class="entry-title"><a href="index-15.htm" tppabs="http://demo.alx.media/indite/2014/07/16/leaner-responsive-images-with-client-hints/" rel="bookmark">Leaner Responsive Images With Client Hints</a></h2>
            <div class="entry-meta">
                <span class="entry-date"><i class="far fa-calendar"></i>July 16, 2014</span>
                <span class="entry-comments"><i class="far fa-comment"></i><a href="index-15.htm#comments" tppabs="http://demo.alx.media/indite/2014/07/16/leaner-responsive-images-with-client-hints/#comments">1</a></span>
                <span class="entry-author"><i class="far fa-user"></i><a href="index-18.htm" tppabs="http://demo.alx.media/indite/author/alx/" title="Posts by Alexander" rel="author">Alexander</a></span>
                <span class="entry-category"><a href="index-1.htm" tppabs="http://demo.alx.media/indite/category/general/" rel="category tag">General</a> <a href="index-3.htm" tppabs="http://demo.alx.media/indite/category/mixed/" rel="category tag">Mixed</a></span>
            </div>
        </header>

        <div class="entry-content">
            <div class="entry themeform">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>
                    <a href="index-15.htm#more-60" tppabs="http://demo.alx.media/indite/2014/07/16/leaner-responsive-images-with-client-hints/#more-60" class="more-link">Continue reading&#8230;</a>
                </p>

            </div>
        </div>
    </div>

</article>
<!--/.post-->
<article id="post-2081" class="post-2081 post type-post status-publish format-image has-post-thumbnail hentry category-general category-lifestyle post_format-post-format-image">

    <div class="post-wrapper group">

        <div class="entry-media">
            <a href="index-16.htm" tppabs="http://demo.alx.media/indite/2014/06/23/the-new-smashing-mystery-riddle-have-you-figured-it-out-yet/">
                <div class="image-container">
                    <img width="720" height="405" src="StockSnap_76X7PJUIMF-720x405.jpg" tppabs="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_76X7PJUIMF-720x405.jpg" class="attachment-indite-large size-indite-large wp-post-image" alt="" srcset="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_76X7PJUIMF-720x405.jpg 720w, http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_76X7PJUIMF-520x293.jpg 520w" sizes="(max-width: 720px) 100vw, 720px" />
                </div>
            </a>
        </div>

        <header class="entry-header group">
            <h2 class="entry-title"><a href="index-16.htm" tppabs="http://demo.alx.media/indite/2014/06/23/the-new-smashing-mystery-riddle-have-you-figured-it-out-yet/" rel="bookmark">The New Smashing Mystery Riddle: Have You Figured It Out Yet?</a></h2>
            <div class="entry-meta">
                <span class="entry-date"><i class="far fa-calendar"></i>June 23, 2014</span>
                <span class="entry-comments"><i class="far fa-comment"></i><a href="index-16.htm#respond" tppabs="http://demo.alx.media/indite/2014/06/23/the-new-smashing-mystery-riddle-have-you-figured-it-out-yet/#respond">0</a></span>
                <span class="entry-author"><i class="far fa-user"></i><a href="index-18.htm" tppabs="http://demo.alx.media/indite/author/alx/" title="Posts by Alexander" rel="author">Alexander</a></span>
                <span class="entry-category"><a href="index-1.htm" tppabs="http://demo.alx.media/indite/category/general/" rel="category tag">General</a> <a href="index-2.htm" tppabs="http://demo.alx.media/indite/category/lifestyle/" rel="category tag">Lifestyle</a></span>
            </div>
        </header>

        <div class="entry-content">
            <div class="entry themeform">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>
                    <a href="index-16.htm#more-2081" tppabs="http://demo.alx.media/indite/2014/06/23/the-new-smashing-mystery-riddle-have-you-figured-it-out-yet/#more-2081" class="more-link">Continue reading&#8230;</a>
                </p>

            </div>
        </div>
    </div>

</article>
<!--/.post-->
<article id="post-2838" class="post-2838 post type-post status-publish format-image has-post-thumbnail hentry category-general category-mixed post_format-post-format-image">

    <div class="post-wrapper group">

        <div class="entry-media">
            <a href="javascript:if(confirm(%27http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/%27" tppabs="http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/">
                <div class="image-container">
                    <img width="720" height="405" src="StockSnap_CLCT9SWF9E-720x405.jpg" tppabs="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_CLCT9SWF9E-720x405.jpg" class="attachment-indite-large size-indite-large wp-post-image" alt="" srcset="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_CLCT9SWF9E-720x405.jpg 720w, http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_CLCT9SWF9E-520x293.jpg 520w" sizes="(max-width: 720px) 100vw, 720px" />
                </div>
            </a>
        </div>

        <header class="entry-header group">
            <h2 class="entry-title"><a href="javascript:if(confirm(%27http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/%27" tppabs="http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/" rel="bookmark">Eliminating Known Vulnerabilities With Snyk</a></h2>
            <div class="entry-meta">
                <span class="entry-date"><i class="far fa-calendar"></i>June 14, 2014</span>
                <span class="entry-comments"><i class="far fa-comment"></i><a href="javascript:if(confirm(%27http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/#comments%27" tppabs="http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/#comments">2</a></span>
                <span class="entry-author"><i class="far fa-user"></i><a href="index-18.htm" tppabs="http://demo.alx.media/indite/author/alx/" title="Posts by Alexander" rel="author">Alexander</a></span>
                <span class="entry-category"><a href="index-1.htm" tppabs="http://demo.alx.media/indite/category/general/" rel="category tag">General</a> <a href="index-3.htm" tppabs="http://demo.alx.media/indite/category/mixed/" rel="category tag">Mixed</a></span>
            </div>
        </header>

        <div class="entry-content">
            <div class="entry themeform">

                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                <p>
                    <a href="javascript:if(confirm(%27http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/#more-2838%27" tppabs="http://demo.alx.media/indite/2014/06/14/eliminating-known-vulnerabilities-with-snyk/#more-2838" class="more-link">Continue reading&#8230;</a>
                </p>

            </div>
        </div>
    </div>

</article>
<!--/.post-->
<article id="post-2854" class="post-2854 post type-post status-publish format-image has-post-thumbnail hentry category-general category-travel post_format-post-format-image">

    <div class="post-wrapper group">

        <div class="entry-media">
            <a href="index-19.htm" tppabs="http://demo.alx.media/indite/2014/06/05/variables-the-backbone-of-css-architecture/">
                <div class="image-container">
                    <img width="720" height="405" src="StockSnap_8UWSPI773Q-720x405.jpg" tppabs="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_8UWSPI773Q-720x405.jpg" class="attachment-indite-large size-indite-large wp-post-image" alt="" srcset="http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_8UWSPI773Q-720x405.jpg 720w, http://demo.alx.media/indite/wp-content/uploads/sites/22/2019/01/StockSnap_8UWSPI773Q-520x293.jpg 520w" sizes="(max-width: 720px) 100vw, 720px" />
                </div>
            </a>
        </div>

        <header class="entry-header group">
            <h2 class="entry-title"><a href="index-19.htm" tppabs="http://demo.alx.media/indite/2014/06/05/variables-the-backbone-of-css-architecture/" rel="bookmark">Variables: The Backbone Of CSS Architecture</a></h2>
            <div class="entry-meta">
                <span class="entry-date"><i class="far fa-calendar"></i>June 5, 2014</span>
                <span class="entry-comments"><i class="far fa-comment"></i><a href="index-19.htm#comments" tppabs="http://demo.alx.media/indite/2014/06/05/variables-the-backbone-of-css-architecture/#comments">2</a></span>
                <span class="entry-author"><i class="far fa-user"></i><a href="index-18.htm" tppabs="http://demo.alx.media/indite/author/alx/" title="Posts by Alexander" rel="author">Alexander</a></span>
                <span class="entry-category"><a href="index-1.htm" rel="category tag">General</a> <a href="javascript:if(confirm(%27http://demo.alx.media/indite/category/travel/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.alx.media/indite/category/travel/%27" tppabs="http://demo.alx.media/indite/category/travel/" rel="category tag">Travel</a></span>
            </div>
        </header>

        <div class="entry-content">
            <div class="entry themeform">

                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <p>
                    <a href="index-19.htm#more-2854" tppabs="http://demo.alx.media/indite/2014/06/05/variables-the-backbone-of-css-architecture/#more-2854" class="more-link">Continue reading&#8230;</a>
                </p>

            </div>
        </div>
    </div>

</article>
<!--/.post-->
<nav class="pagination group">
    <div class='wp-pagenavi' role='navigation'>
        <span class='pages'>Page 1 of 4</span><span aria-current='page' class='current'>1</span>
        <a class="page larger" title="Page 2" href="index-20.htm" tppabs="http://demo.alx.media/indite/page/2/">2</a>
        <a class="page larger" title="Page 3" href="javascript:if(confirm(%27http://demo.alx.media/indite/page/3/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.alx.media/indite/page/3/%27" tppabs="http://demo.alx.media/indite/page/3/">3</a>
        <a class="page larger" title="Page 4" href="index-22.htm" tppabs="http://demo.alx.media/indite/page/4/">4</a>
        <a class="nextpostslink" rel="next" href="index-20.htm" tppabs="http://demo.alx.media/indite/page/2/">&raquo;</a>
    </div>
</nav>
<!--/.pagination-->
